.search {
  background: #fff;
  padding: 0 0 0 30px;
  display: flex;
  -webkit-box-flex: 3;
  flex: 3;
  height: 30px;
  margin: 9px 6px 9px 10px;
  line-height: 32px;
  color: #b8b8b8;
  text-align: left;
  font-size: 13px;
  transition: left .2s, right .2s;
  border-radius: 25px;
}
